body { 
    background: url("memphis-colorful.png") repeat 0 0;
}

.navbar { 
    background-color: #3dd9f4;
}

#content, .clearbg {
    background: rgba(255, 255, 255, 0);
}

.translucent {
    background: rgba(255, 255, 255, 0.7);
}

#amounts div {
    margin-bottom: 25px;
}

.btn-custom-green {
    color: #fff;
    background-color: #38e0a5;
    border-color: #38e0a5;
}

.btn-custom-blue {
    color: #fff;
    background-color: #3d7df4;
    border-color: #3d7df4;
}

.btn-custom-purple {
    color: #fff;
    background-color: #b43df4;
    border-color: #b43df4;
}

.btn-custom-orange {
    color: #fff;
    background-color: #f4b43d;
    border-color: #f4b43d;
}

.btn-custom-pink {
    color: #fff;
    background-color: #f43d7d;
    border-color: #f43d7d;
}

.btn-custom-green:hover, .btn-custom-blue:hover, .btn-custom-purple:hover, .btn-custom-orange:hover, .btn-custom-pink:hover {
    color: #ddd;
}


