{% extends "bakery/base.html" %}
{% load bakery_extras %}

{% block title %}
  Component: {{ component_info.name }}
{% endblock %}

{% block content %}
  <div class="translucent">
    <h3 class="text-center">{{ component_info.name }}</h3>
    <dl>
      <dt>Type:</dt><dd>{{ component_info.get_component_type_display }}</dd>
      <dt>Ingredient Cost:</dt><dd>${{ component_info.cost }}</dd>
      <dt>Ingredients:</dt><dd>
        <ul>
          {% for grocery in component_info.groceries.all %}
            {% get_ingredient grocery component_info as ingredient %}
            <li>{{ ingredient.amount|get_common_fraction }} {{ ingredient.units }} <a href="{% url 'bakery:grocery-detail' ingredient.for_grocery.pk %}">{{ grocery.name }}</a></li>
          {% endfor %}
        </ul>
        </dd>
      <dt>Notes:</dt><dd>{% if component_info.notes %}{{ component_info.notes }}{% else %}None{% endif %}</dd>
    </dl>
  </div>
  <a class="btn btn-custom-blue" href="{% url 'bakery:edit-component' component_info.pk %}">Edit</a>
  {% if component_info.can_be_deleted %}
    <button class="btn btn-custom-pink" data-toggle="modal" data-target="#deleteModal">Delete</button>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Component</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Are you sure you want to delete this component for {{ component_info.name }}?</h3>
          </div>
          <div class="modal-footer">
            <form action="{% url 'bakery:delete-component' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="pk" value="{{ component_info.pk }}">
              <button type="submit" class="btn btn-custom-pink">Delete</button>
              <button type="button" class="btn btn-custom-blue" data-dismiss="modal">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
