{% extends "bakery/base.html" %}
{% load bakery_extras %}

{% block title %}
  Ingredient: {{ grocery_info.name }}
{% endblock %}

{% block content %}
  <div class="translucent">
    <h3 class="text-center">{{ grocery_info.name }}</h3>
    <dl>
      <dt>Purchase Cost:</dt><dd>${{ grocery_info.cost }}</dd>
      <dt>Purchase Amount:</dt><dd>{{ grocery_info.cost_amount|get_common_fraction }} {{ grocery_info.get_units_display }}</dd>
      <dt>Default units:</dt><dd>{{ grocery_info.get_default_units_display }}</dd>
    </dl>
  </div>
  <a class="btn btn-custom-blue" href="{% url 'bakery:edit-grocery' grocery_info.pk %}">Edit</a>
  {% if grocery_info.can_be_deleted %}
    <button class="btn btn-custom-pink" data-toggle="modal" data-target="#deleteModal">Delete</button>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Ingredient</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Are you sure you want to delete this ingredient for {{ grocery_info.name }}?</h3>
          </div>
          <div class="modal-footer">
            <form action="{% url 'bakery:delete-grocery' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="pk" value="{{ grocery_info.pk }}">
              <button type="submit" class="btn btn-custom-pink">Delete</button>
              <button type="button" class="btn btn-custom-blue" data-dismiss="modal">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
