{% extends "bakery/base.html" %}

{% block title %}
  Order for {{ order_info.customer }}
{% endblock %}

{% block content %}
  <div class="translucent">
    <h3 class="text-center">Order for {{ order_info.customer }}</h3>
    <dl>
      <dt>Recipes:</dt><dd>
        {% for recipe in recipes %}
          {{ recipe.quantity }} <a href="{% url 'bakery:recipe_detail' recipe.for_recipe.pk %}">{{ recipe.for_recipe.name }}</a>
        {% endfor %}
      </dd>
      <dt>Price:</dt><dd>${{ order_info.quoted_price }}</dd>
      <dt>Delivery date:</dt><dd>{{ order_info.delivery_date }}</dd>
      {% if order_info.requires_delivery %}
      <dt>Delivery Charge:</dt><dd>$15</dd>
      {% endif %}
      <dt>Ingredient Cost:</dt><dd>${{ cost }}</dd>
      <dt>Notes:</dt><dd>{% if order_info.notes %}{{ order_info.notes }}{% else %}None{% endif %}</dd>
    </dl>
  </div>
  <a class="btn btn-custom-blue" href="#">Edit</a>
  <a class="btn btn-custom-pink" href="#">Delete</a>
{% endblock %}
