{% extends "bakery/base.html" %}
{% load bakery_extras %}

{% block title %}
  Recipe: {{ recipe_info.name }}
{% endblock %}

{% block content %}
  <div style="height:15px"></div>
  <div class="card col-md-4 translucent">
    <div class="clearbg">
      <img class="card-img-top" src="{{ recipe_info.image_thumb }}" alt="Recipe image">
      <div class="card-header bg-transparent text-center">
        <h5 class="card-title">{{ recipe_info.name }}</h5>
      </div>
      <div class="card-body">
        <dl>
          <dt>Components:</dt><dd>
            <ul>
              {% for component in recipe_info.components.all %}
                <li><a href="{% url 'bakery:component_detail' component.pk %}">{{ component.name }}</a></li>
              {% endfor %}
            </ul>
          </dd>
          <dt>Ingredient cost:</dt><dd>${{ recipe_info.cost }}</dd>
          <dt>Price:</dt><dd>${{ recipe_info.price }}</dd>
          <dt>Time estimate:</dt><dd>
            {% if recipe_info.time_actual %}{{ recipe_info.time_actual|get_common_fraction }}
            {% else %}{{ recipe_info.time_estimate|get_common_fraction }}
            {% endif %} hours
          </dd>
          <dt>Notes:</dt><dd>{% if recipe_info.notes %}{{ recipe_info.notes }}{% else %}None{% endif %}</dd>
        </dl>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-custom-blue" href="#">Edit</a>
      </div>
    </div>
  </div>
  <div style="height:15px"></div>
{% endblock %}
