{% extends "bakery/base.html" %}
{% load bakery_extras %}

{% block title %}
  Recipe: {{ recipe_info.name }}
{% endblock %}

{% block content %}
  <div style="height:15px"></div>
  <div class="card col-md-4 translucent">
    <div class="clearbg">
      <a href="{{ recipe_info.image.url }}"><img class="card-img-top" src="{{ recipe_info.image_thumb }}" alt="Recipe image"></a>
      <div class="card-header bg-transparent text-center">
        <h5 class="card-title">{{ recipe_info.name }}</h5>
      </div>
      <div class="card-body">
        <dl>
          <dt>Components:</dt><dd>
            <ul>
              {% for component in recipe_info.components.all %}
                <li><a href="{% url 'bakery:component-detail' component.pk %}">{{ component.name }}</a></li>
              {% endfor %}
            </ul>
          </dd>
          <dt>Ingredient cost:</dt><dd>${{ recipe_info.cost }}</dd>
          <dt>Price:</dt><dd>${{ recipe_info.price }}</dd>
          <dt>Time estimate:</dt><dd>
            {% if recipe_info.time_actual %}{{ recipe_info.time_actual|get_common_fraction }}
            {% else %}{{ recipe_info.time_estimate|get_common_fraction }}
            {% endif %} hours
          </dd>
          <dt>Notes:</dt><dd>{% if recipe_info.notes %}{{ recipe_info.notes }}{% else %}None{% endif %}</dd>
        </dl>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-custom-blue" href="{% url 'bakery:edit-recipe' recipe_info.pk %}">Edit</a>
        {% if recipe_info.can_be_deleted %}
          <button class="btn btn-custom-pink" data-toggle="modal" data-target="#deleteModal">Delete</button>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Recipe</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to delete this recipe for {{ recipe_info.name }}?</h3>
                </div>
                <div class="modal-footer">
                  <form action="{% url 'bakery:delete-recipe' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ recipe_info.pk }}">
                    <button type="submit" class="btn btn-custom-pink">Delete</button>
                    <button type="button" class="btn btn-custom-blue" data-dismiss="modal">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div style="height:15px"></div>
  
{% endblock %}
