{% extends "bakery/base.html" %}
{% load bakery_extras %}
{% load static %}

{% block title %}
  Browse Recipes
{% endblock %}

{% block content %}
  <div style="height:15px"></div>
  <div class="card-deck">
  {% for recipe in recipe_list %}
    <div class="card col-md-4 translucent">
      <div class="clearbg">
        <a href="{{ recipe.image.url }}"><img class="card-img-top" src="{{ recipe.image_thumb }}" alt="Recipe image"></a>
        <div class="card-header bg-transparent text-center">
          <h5 class="card-title">{{ recipe.name }}</h5>
        </div>
        <div class="card-body">
          <dl>
            <dt>Price:</dt><dd>${{ recipe.price }}</dd>
            <dt>Time estimate:</dt><dd>
              {% if recipe.time_actual %}{{ recipe.time_actual|get_common_fraction }}
              {% else %}{{ recipe.time_estimate|get_common_fraction }}
              {% endif %} hours
            </dd>
            <dt>Notes:</dt><dd>{% if recipe.notes %}{{ recipe.notes }}{% else %}None{% endif %}</dd>
          </dl>
        </div>
        <div class="card-footer bg-transparent">
          <a class="btn btn-custom-orange card-link" href="{% url 'bakery:recipe_detail' recipe.pk %}">View Details</a>
        </div>
      </div>
    </div>
  {% endfor %}
  <div style="height:15px"></div>
  {% if is_paginated %}
    <div class="row justify-content-center">
        <div class="col col-md-1 offset-md-4">
        {% if page_obj.has_previous %}
            <a class="btn btn-custom-green btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        </div>
        <div class="col-md-auto">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <div class="col">
        {% if page_obj.has_next %}
            <a class="btn btn-custom-green btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
